.logo {
  height: 100px;
}
.nav-link.active{
    color: var(--primary-200) !important;
}

.nav-item{
    margin-right: 1rem;
}

.dropdown-toggle::after{
    margin-right: .255em;
    margin-left: 0;
}

.nav-link{
    color: var(--text-100) !important;
    font-weight: 500;
    font-size: 1.1rem;
}

.navbar{
    border-bottom: solid 1px var(--text-100);
}

.heroImageSloder{
    position: relative;
}

.heroImageSloder::after{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    height: 300px;
    background-color: var(--secondary-200);

}

.heroImageSloder img {
    width: 75%;
}

@media screen and (max-width: 767.98px){
    .heroImageSloder::after{
        height: 200px;
    }
    .heroImageSloder img {
    width: 90%;
}
    
}

.btnPrimary{
    background-color: var(--primary-100);
    color: var(--bg-100);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0;
}

.btnPrimary:hover{
    background-color: var(--primary-200);
    color: var(--bg-100);
}

.btnPrimary:active{
    background-color: var(--primary-100);
    color: var(--bg-100);
}

.btnSecondary{
    background-color: var(--secondary-100);
    color: var(--bg-100);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0;
}

.btnSecondary:hover{
    background-color: var(--secondary-200);
    color: var(--bg-100);
}

.btnSecondary:active{
    background-color: var(--secondary-100);
    color: var(--bg-100);
}